img {
    display: block;
    margin: auto;
    height: 113;
    width: 351;
}

table {
    margin: auto;
    border: 0;
    width: 90%;
}

.td_upper {
    text-align: center;
    background-color: #EEEEEE;
}

.td_left {
    width: 37%;
    background-color: #7EE5DA;
    text-align: center;
}

.td_middle {
    background-color: #70CCC2;
    text-align: center;
    font-size: small;
}

.td_right {
    align-items: flex-end; 
    text-align: center;
    background-color: #62B3AA;
    font-size: small;
}

.p_footer {
    font-size: small;
    text-align: center;
}